/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--second-family, sans-serif);
  font-variation-settings: 'wgth' 400;
  color: var(--text-color, #000);
  background: var(--bg-image);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 120px 0;
  margin-block-start: 100px;
  border: 2px solid #000;
}

.header_title {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  font-family: var(--font-family);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  margin-block-start: 100px;
}

.main_content {
  border: 2px solid #000;
  background-color: var(--bg-color);
}

.main_content:not(:last-of-type){
  margin-block-end: 50px;
}

.img_list {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.watermark {
  position: absolute;
  font-family: var(--font-family);
  color: #000;
  font-weight: 400;
  font-size: 14px;
  top: 25px;
  right: 13px;
  mix-blend-mode: hard-light;
  text-shadow:
   -1px 0 #fff, 
   0 1px #fff, 
   1px 0 #fff, 
   0 -1px #fff;
   opacity: 0.5;
  z-index: 1;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff;)) {
  .watermark {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.main_title {
  font-family: var(--second-family);
  font-size: 18px;
  font-variation-settings: 'wght'700;
  padding: 4px 10px 6px;
}

.main_image {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.main_text {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 400;
  margin: 25px;
}

.button {
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.like_button {
  display: flex;
  margin: 0 25px 25px 0;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  transition: border 0.3s ease;
  border: 2px solid #fff;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

.card__like-button {
  padding: 9px 17px;
  width: 130px;
  height: 38px;
}

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}

.button:hover::before {
  transform: translate(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px #000;
}

.button__text {
  font-family: var(--font-family);
  font-size: 14px;
}


.perfect-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.text__button {
  z-index: 1;
  line-height: 90%;
  color: #fff;
  mix-blend-mode: difference;
}

.foot_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18.5px 20px;
  gap: 8px;
  background-color: #fff;
}

dialog {
  width: 353px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 14px;
  padding: 30px 40px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-button {
  padding: 9px 17px;
  width: 100%;
  text-transform: uppercase;
  margin-block-start: 30px;
}

.dialog-form {
  margin: 0;
}

.dialog-svg {
  min-height: 39px;
  min-width: 39px;
}

.dialog-text {
  line-height: 150%;
}

.filter-blur {
  filter:blur(3px) sepia(0.6);
}

.filter-hue-rotate {
  filter: hue-rotate(300deg);
}

.filter-sepia {
  filter: sepia(0.4);
}

.filter-invert {
  filter: invert(70%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-opacity {
  filter: opacity(65%);
}

@media (width>=400px) {
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
.header {
  max-width: 700px;
  width: 100%;
  padding: 128px 0;
 }

.main {
  max-width: 700px;
 }

.disketa {
  max-width: 21px;
  max-height: 21px;
 }

.foot_button {
  flex-direction: row;
 }

dialog {
  padding: 30px;
 }

.watermark {
  right: 25px;
 }
}